<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="free images, wallpapers for Desktop and Mobile ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robot" content="index,follow">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
     <link rel="icon" href="../img/images_icon-icons.com_52936.ico">


    <title>Free4k - Providors</title>

    <style>
        *{
            font-family: 'Varela Round', sans-serif;
            background-color: #23374d;
            color: #EEEEEE;
        }
        h1{
           text-align: center;
           margin: 20% auto;

          
        }
    </style>

</head>
<body>
    <h1><a href="https://paypal.me/0en1" target="_blank">paypal</a></h1>
    <script data-ad-client="ca-pub-2037370642028891" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>