<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="free images, wallpapers for Desktop and Mobile ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robot" content="index,follow">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="icon" href="../img/images_icon-icons.com_52936.ico">
    

    <title>Free4K </title>

  </head>
  <body>

    <header>
      <div class="logo">
        <h1 class="logo-text"><a href="/">Free4K</a></h1>
      </div>

      <form class="search">
        <input type="search" class="search-input" placeholder="search for images" name="search" autocomplete="off">
        <button type="submit" class="btn">search</button>
      </form>

      <nav>
        <ul class="links">
          <li><a href="/providors" class="link">providors</a></li>
          <li><a href="/about" class="link">about</a></li>
          <li><a href="/donate" class="link">donate</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <div class="title">
        <h1 class="title-text">The best free stock photos.</h1>
        <p class="title-p">beautiful images by pexels.</p>
        <span class="status"></span>
      </div>
    </section>

    <main>

      

    </main>
    
    





  <footer>
    <p>all right reserved for alqubtan</p>
  </footer>
  
    <script src="../js/app.js"></script>
    <script data-ad-client="ca-pub-2037370642028891" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </body>

</html>
